@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
    font-family: 'Inconsolata', monospace;
    font-size: 2rem;
}

nav {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: lightgrey;
}

#bigLink {
    font-size: 30px;
}



#home img{
    justify-content: center; 
height: 50vh;
margin: auto;
}

#home img {
    width:100%; height:100%;
   
    opacity: 0.8;
    transition: all 0.4s ease;
}




#home img:hover {
    filter: invert(100%);
    width: 100%;
}






#work {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    font-size: 20px;

}

#work .column { 
    width: 48%;
}

#work .column img {
    width: 90%;
    opacity: 0.8;
    transition: all 0.4s ease;
}


#work .column img:hover {
    opacity: 1;
    width: 102%;
}

#about {
    font-size: 20px;
      justify-content: center }
  